@import "tailwindcss";

@theme {

  --color-primary: #e6e6e6;
  --color-secondary: #1E1E1F;
  --color-accent: #06d6a0;

  --font-space: var(--font-space);
   --font-poppins: var(--font-poppins);
}

html, body{
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar{
  display: none;
}