@import "tailwindcss";

@theme {

  --color-primary: #f5f5f5;
  --color-secondary: #0a0a0a;
  --color-accent: #06d6a0;

  --font-space: var(--font-space);
   --font-poppins: var(--font-poppins);
}

html, body{
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar{
  display: none;
}